
body {
    max-width: 90%;
    margin: auto;
}


h1 {
 margin-top: 6rem;
}

.cus-main-bx {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 2rem;
}



.cus-bx {
    border: 1px solid #ddd;
    padding: 0.5rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    gap: 90px;
    border-radius: 6px;
}

.cus-bx p {
    margin-top: 0;
    margin-bottom: 0;
}

.arrow-downp-img {
    width: 10px;
}