.prof-max-bx {
   display: grid;
  grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
  gap: 1.5rem;
  padding: 20px;
  background-color: rgb(245, 241, 241);
}

.prof-bx {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 12px;
    background-color: white;
    padding: 20px;
}

.prof-img {
    width: 100%;
    border-radius: 12px;
}

.prof-img-bx {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.prof-loc-bx, .prof-rat-bx {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.prof-sta-img {
    width: 45px;
}

.prof-loc-img {
    width: 21px;
}


.prof-vie-p-bx {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(224, 217, 217);
    padding: 1px 40px;
    border-radius: 7px;
    cursor: pointer;
}

.prof-spec-bx {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px;
    border-radius: 7px;
}

.prof-spec-bx p {
    margin-top: 3px;
    margin-bottom: 3px;
}







