.prof-hero-bx {
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: oklch(0.21 0.034 264.665);
    margin-bottom: 5rem;
    text-align: center;
}

h1 {
    color: white;
    font-size: 3rem;
    margin: 0;
}

h3 {
    color: rgb(202, 196, 196);
    font-weight: 700;
    margin-top: 10px;
}