main {
  flex: 1;
  font-family: 'Roboto', 'sans serif';
}

 body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}



.illustration-img {
  max-height: 300px;
  object-fit: cover;
}


@media (max-width: 600px) {
  .popular-cnt {
  max-width: 100%;
  position: relative;
  overflow-x: hidden;
  }
}

.brand-logos {
  display: flex;
  justify-content: space-between;
}

.brand-img {
  width: 250px;
}

@media (max-width: 928px) {
  .brand-img {
    width: 200px
  }
}

@media (max-width: 900px) {
  .brand-img {
    width: 170px;
  }
}

@media (max-width:637px) {
  .brand-logos {
    display: grid;
    grid-template-columns: 280px 1fr;
  }
  .brand-img {
    width: 200px;
  }
}

@media (max-width:600px) {
  .brand-logos {
     display: grid;
    grid-template-columns: 230px 1fr;
  }
}

@media (max-width:500px) {
   .brand-logos {
    display: grid;
    grid-template-columns: 200px 1fr;
  }
  .brand-img {
    width: 170px;
  }
}







 




.headline-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5625rem;
  gap: 0.6250rem;
  margin-bottom: 0;
}

.headline-headers {
  font-weight: 600;
  font-size: 1.875;
  margin-bottom: 0;
  margin: 0;
}

.headline-text {
  margin-top: 0rem;
  text-align: center;
  opacity: 0.8;
  margin: 0;
}

@media (max-width: 50.0000rem) {
  .headline-box {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
    align-items: center;
    justify-content: center;
  }

  .headline-headers {
    font-weight: 600;
    font-size: 1.2500rem;
    margin-bottom: 0rem;
    margin: 0;
  }

  .headline-text {
    margin-top: 0rem;
    text-align: center;
    margin: 0;
  }
}



.outfit-type-display {
  width: 6.2500rem;
  border-radius: 4.3750rem;
}

.outfit-type-display-special {
  width: 5.0000rem;
  border-radius: 5.6250rem;
}

.category-input {
  width: 80%;
  padding: 0.6250rem;
}

.first-set {
  gap: 0.6250rem;
}

.category-buttons {
  padding: 0.6250rem 1.2500rem;
  border: none;
  margin-bottom: 1.8750rem;
  opacity: 0.8;
}

.category-buttons:hover {
  background-color: rgb(214, 213, 213);
}

@media (max-width: 71.0625rem) {
  .main-content {
    display: flex;
    gap: 1.8750rem;
  }

}

@media (max-width: 47.7500rem) {
  .main-content {
    display: flex;
    gap: 0.6250rem;
  }

}

@media (max-width: 46.0625rem) {
  .main-content {
    display: flex;
    flex-direction: column;
    gap: 5.0000rem;
  }

  .left-main-content {
    display: grid;
    grid-template-columns: 13.1250rem 12.5000rem 1fr;
  }

  .outfit-type-display {
    width: 9.3750rem;
    border-radius: 4.3750rem;
  }

  .outfit-type-display-special {
    width: 6.8750rem;
    border-radius: 5.6250rem;
  }
}

@media (max-width: 41.5000rem) {
  .main-content {
    display: flex;
    flex-direction: column;
    gap: 5.0000rem;
    margin: auto;
  }

  .category-input {
    margin-left: 10px;
  } 

  .left-main-content {
    display: grid;
    grid-template-columns: 12.5000rem 11.8750rem 1fr;
  }

  .outfit-type-display {
    width: 6.8750rem;
    border-radius: 4.3750rem;
  }

  .outfit-type-display-special {
    width: 5.0000rem;
    border-radius: 5.6250rem;
  }

    
}

@media (max-width: 37.6875rem) {
  .left-main-content {
    display: grid;
    grid-template-columns: 10.0000rem 10.0000rem 1fr;
  }
}

@media (max-width: 32.8125rem) {
  .left-main-content {
    display: grid;
    grid-template-columns: 13.1250rem 1fr;
    margin: auto;
  }
 

  .outfit-type-display {
    width: 12.5000rem;
    border-radius: 5.6250rem;
  }

  .outfits-type-display-box-special, .outfits-type-display-box-special-two {
    display: none;
  }

}

.popular-category-text {
  margin-left: 4.3750rem;
  font-size: 2.3750rem;
  font-weight: 300;
}








.hero-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}


.btn {
  text-decoration: none;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.primary-btn {
  background-color: #ff914d;
  color: #fff;
}

.primary-btn:hover {
  background-color: #ff7722;
}

.secondary-btn {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.secondary-btn:hover {
  background-color: #fff;
  color: #000;
}



.hero-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-bg-bx {
  width: 100%;
  position: relative;
  height: 100%;
}

.hero-bx {
  position: relative;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
}

.Desc-bx {
  position: absolute;
  top: 30%;
  left: 22%;
  color: white;
  text-align: center;
}

.Desc-bx h1 {
  font-size: 4.5rem;
  margin-bottom: 1rem;
  text-align: center;
  display: inline-block;
}

.Desc-bx h3 {
  font-weight: 400;
  margin-bottom: 2rem;
}




.hero-btn1,
.hero-btn2 {
  padding: 0.9rem 1.8rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 0.8rem;
  transition: all 0.3s ease;
 
}


.hero-btn1 {
  background-color: #ff914d;
  color: #fff;
  text-decoration: none;
}

.hero-btn1:hover {
  background-color: #ff7722;
}

.hero-btn2 {
  background-color: white;
  color:  black;
  text-decoration: none;
}

.hero-btn2:hover {
  background-color: #f3ebeb;
  color: #000;
}

.hero-bx {
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

.hero-slider {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.hero-slide {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.hero-slide.active {
  opacity: 1;
}



.hero-slide:nth-child(1) { 
  animation: slide1 18s ease-in infinite; 
 }

.hero-slide:nth-child(2) { 
  animation: slide2 18s ease-in infinite; 
 }

.hero-slide:nth-child(3) { 
  animation: slide3 18s ease-in infinite;
 }


.hero-bg-bx {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}


.Desc-bx {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2; 
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

.hero-img {
  width: 100%;
  height: auto;
  display: block;
}



.slider-dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 12px;
  z-index: 3;
}


.dot {
  width: 30px;
  height: 8px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}


.dot.active {
  background: rgb(252, 250, 250);
  transform: scale(1.2);
}


.dot:hover {
  background: white;
  transform: scale(1.1);
}



