.choose-bx {
    border: 1px solid lightgrey;
    padding: 20px;
    height: 180px;
    max-height: 180px;
    max-width: 250px;
    width: 250px;
    border-radius: 10px;
    background-color: #f8f9fa;
     box-shadow: 0 2px 4px black;
}

.choose-bx p {
    font-weight: 300;
    color: black;
    opacity: 0.9;
}

.choose-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.choose-max-bx {
    max-width: 1200px;
    margin: auto;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding-top: 0;
}

.choose-main-bx {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.choose-img {
    width: 26px;
}

.choose-img-bx {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(202, 195, 195);
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose-sec-name {
     font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: oklch(0.21 0.034 264.665);
}

