.footer-ctn {
  margin-top: 20px;
}

.foot-box {
  color: white;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
 background-color: oklch(0.21 0.034 264.665);
}


.foot-box li {
  list-style: none;
  margin-bottom: 20px;
}

.foot-box ul {
  padding-left: 0;
}

@media (max-width:600px) {
  .foot-box {
    font-size: 0.7rem;
  }
}

.foot-boxes h5 {
  font-weight: 800;
}

.social-icons {
  width: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.social-ctn {
  text-align: center;
}
