.revamp-brand-logo {
  width: 120px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  width: 70%;
  background-color: black;
  border-radius: 60px;
  padding: 7px 20px;
  position: fixed;
  top: 20px;
  left: 215px;
  z-index: 1000;
}

.header-middle-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
}

.header-middle-section a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  opacity: 0.8;
}

.header-right-section {
  color: white;
}


.reg-hd-btn {
  background-color: rgb(220, 54, 46);
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
  padding: 7px 35px;
}

.reg-hd-btn:hover {
  background-color: rgb(206, 49, 43);
}
