.signup-popup {
  width: 200px;
  position: fixed;
  right: 0;
  top: 58px;
  background-color: white;
  z-index: 2000;
}



.signup-popup.is-shown {
  display: block;
}


.main-sign-in-box {
  display: flex;
  justify-content: center;
}


.sign-in-op {
border: none;
background-color: orange;
width: 100px;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 30px;
padding-right: 40px;
border-radius: 4px;
white-space: nowrap;
text-align: center;
}

.sign-up-prompt {
  display: flex;
  align-items: center;
  width: 100px;
  margin-left: 10px;
  text-decoration: none;
}

.sign-up-text {
  color: black;
}


.user-icon {
  width: 20px;
}

.faq-icon {
  width: 25px;
}

.icon-container {
  margin-right: 20px;
}



.reg-fx.is-pop {
  display: flex;
}


.reg-fx {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 2000; 
  justify-content: center;
  align-items: center;
}



.signup-reg-popup {
  margin: auto;
  border: 1px solid grey;
  border-radius: 30px;
  width: 350px;
  background-color: white;
  padding: 10px;
  position: relative;
}

.opt-main-bx {
  position: relative;
}

.opt-sign-in {
  position: absolute;
  left: 50%;
}

.phone-sign-in-bx {
  margin-top: 45px;
  width: 94%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid grey
}

.cancel-img {
  width: 20px;
}

.cancel-btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 100%;
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.cancel-btn:hover {
  background-color: rgb(204, 200, 200);
}


.reg-main-bx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
}



.reg-bx {
  margin-bottom: 4px;
  padding: 8px;
}

.sign-in-bx {
  margin-bottom: 15px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid grey;
}

.reg-nxt {
  margin-top: 7px;
  padding: 8px;
  background-color: rgb(226, 217, 217);
  border: none;
}

.reg-nxt:hover {
  background-color: rgb(70, 68, 68);
}

.reg-nxt::placeholder {
 padding: 150px
}

.reg-action {
  text-align: center;
}

@media (max-width: 500px) {
  .reg-main-bx {
    max-width: 80%;
  }

  .signup-reg-popup {
    max-width: 90%;
  }

  .cancel-btn {
    width: 20px;
  }
}
