.side-bar {
  background-color: white;
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 350px;
  transition: transform 0.4s ease-out;
  z-index: 1000;
  overflow-y: auto;
}

@media(max-width:560px) {
  .side-bar {
    width: 320px;
  }
}

.side-bar::-webkit-scrollbar {
  width: 8px;
  background-color: #f1f1f1;
}




.side-bar ul {
  list-style: none;
  padding: 20px;
}

.side-bar li {
  margin-bottom: 20px;
}


.explore-menu {
 display: none;
}

.explore-menu.is-reveal {
 display: initial;
}

.explore-menu li {
  margin-bottom: 10px;
  margin-top: 15px;
}

.explore-menu a {
  text-decoration: none;
  color: rgb(163, 163, 199);
  padding: 20px;
}

.explore-menu a:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.808);
}


.side-bar-button {
  border: none;
  color: rgb(32, 31, 31);
  cursor: pointer;
  background-color: rgb(245, 250, 248);
  height: 70px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10px;
  width: 300px;
}

.side-bar-img {
  width: 60px;
}

.side-bar-button:hover {
  filter: brightness(90%);
}


.about-popup {
  display: none; 
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 2000; 
  justify-content: center;
  align-items: center;
}

.about-popup.is-visible {
  display: flex;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 18.75rem;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.popup-content p {
  margin: 0 0 15px;
  font-size: 1rem;
  color: rgb(129, 89, 89);
}

.popup-close {
  background-color: rgb(129, 89, 89);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.88rem;
}

.popup-close:hover {
  background-color: rgb(83, 44, 44);
}

.contact-image {
  width: 20px;
}

.contact-menu {
  display: none;
}

.contact-menu.is-shown {
  display: initial;
}

.contact-menu li {
  margin-top: 15px;
}

.contact-menu a {
  padding: 20px;
}

.cancel-btn {
  width: 30px;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

@media (min-width: 46.89rem) {
  .side-bar {
  transform: translate(-100%);
  transition: transform 0.4s ease-out;
  }
}

@media (max-width: 500px) {
  .cancel-btn {
    width: 20px;
  }
}