.trending-popup {
    display: grid;
    grid-template-columns: 340px 310px 310px 300px;
     position: fixed;
  top: 95px;
  padding-left: 20px;
  padding-right: 25px;
  width: 90%;
  background-color: rgb(248, 248, 248);
  font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
  font-weight: 400;
  line-height: 16px;
  margin-left: 30px;
  margin-right: 30px;
  z-index: 3000;
  padding-top: 20px;
  padding-bottom: 20px;
}

.uno-bx {
   border-right: 1px solid rgb(235, 229, 229);
}

.uno-bx h4 {
    padding-left: 10%;
}

.gen-trtsp-img-bx {
    display: flex;
    align-items: center;
}

.trtsp-img-bx {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.trtsp-img {
    width: 50px;
}

.uno-bx ul {
    list-style: none;
}

.uno-bx a {
  color: rgb(75, 72, 72);
  text-decoration: none;
  font-size: 13px;
}

.uno-bx li {
    padding-bottom: 8px;
    padding-top: 8px;
    margin: 0 10% 0 1%;
}

.uno-bx li:not(:last-child) {
    border-bottom: 1px solid rgb(235, 229, 229);
}




.trnd-img {
   object-fit: fill;
   width: 100%;
}


.dos-bx ul {
    list-style: none;

}



.trnd-link{
    color: white;
    position: relative;
    cursor: pointer;   
}

.trnd-title {
    position: absolute;
    bottom: 10%;
    left: 16%;
}

.trnd-img-bx {
      width: 220px;

}




.tres-bx ul {
    list-style: none;

}



.cuat-bx ul {
    list-style: none;
}