.sup-max {
    position: fixed;
    z-index: 1000;
    top: 75vh;
    left: 4rem;
}

.sup-main-bx {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont-btn {
  background: #4a3aff;  
  color: white;
  padding: 8px 35px;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
  transition:  0.25s ease;
  cursor: pointer;
}

.cont-btn:hover {
  background: #382ed9;
}



.tele-img {
  width: 70px;              
  animation: bouncePhone 1s ease-in-out infinite;
}



@keyframes bouncePhone {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}